<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="26873SiarheiKuchuk.FTPSServer"
    Publisher="CN=48445635-F577-4A99-ABC2-E3554955850E"
    Version="__VERSION__"
    ProcessorArchitecture="__ARCH__" />

  <Properties>
    <DisplayName>FTPS Server</DisplayName>
    <PublisherDisplayName>Siarhei Kuchuk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <!-- Partner Center listing locales, not .NET resx culture names (de vs de-de). -->
  <Resources>
    <Resource Language="en-us" />
    <Resource Language="am-et" />
    <Resource Language="ar-sa" />
    <Resource Language="bn-in" />
    <Resource Language="de-de" />
    <Resource Language="es-es" />
    <Resource Language="fa-ir" />
    <Resource Language="fr-fr" />
    <Resource Language="ha-latn-ng" />
    <Resource Language="hi-in" />
    <Resource Language="id-id" />
    <Resource Language="ig-ng" />
    <Resource Language="it-it" />
    <Resource Language="ja-jp" />
    <Resource Language="kk-kz" />
    <Resource Language="ko-kr" />
    <Resource Language="mr-in" />
    <Resource Language="ne-np" />
    <Resource Language="pa-in" />
    <Resource Language="pl-pl" />
    <Resource Language="pt-br" />
    <Resource Language="ru-ru" />
    <Resource Language="sw-ke" />
    <Resource Language="ta-in" />
    <Resource Language="te-in" />
    <Resource Language="th-th" />
    <Resource Language="tr-tr" />
    <Resource Language="uk-ua" />
    <Resource Language="ur-pk" />
    <Resource Language="uz-latn-uz" />
    <Resource Language="vi-vn" />
    <Resource Language="yo-ng" />
    <Resource Language="zh-cn" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="FtpsServerWindows.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="FTPS Server"
        Description="Share files over the network with an FTPS server."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
