<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
  <targets>
    <!-- File Target -->
    <target name="logfile" xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}/ftps-server/logs/ftps-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${specialfolder:folder=ApplicationData}/ftps-server/logs/archives/ftps-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Console Target -->
    <target
		name="console"
		xsi:type="Console"
        layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" 
		encoding="utf-8"
    />

    <!-- Colored Console Target -->
    <target name="coloredConsole" xsi:type="ColoredConsole"
            layout="${time}|${level:uppercase=true}|${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
</nlog>